# Ignore Python virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore downloaded files
Yohananof/
Osherad/